:root{
    margin: 0px;
    padding: 0px;
}

.body{
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}











