:root{
    margin: 0px;
    padding: 0px;
}

.body{
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@font-face { 
    font-family: genshin; 
    src: url("../font/genshin.ttf"); 
} 

.home_page_image{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;

    animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}















